<!-- El <! DOCTYPE> debe ser lo primero que debe ir en un documento HTML 5, 
no es una etiqueta, esto es una instrucción para el navegador, 
donde se declara la versión de html que se está usando-->
<!DOCTYPE html> 
<html lang="en">
    <head><!--Esta etiqueta se usa para configurar el navegador, no es visible para el usuario-->        
        <meta charset="UTF-8"><!-- UTF-8 incluye caracteres raros q no existen en ingles-->
        <meta name="viewport" content="width=device-width"><!-- "viewport" con "scale=1.0" asegurará una escala de 1:1-->
        <script src="https://kit.fontawesome.com/e27ee0d4d1.js" crossorigin="anonymous"></script> <!-- enlace iconos -->
        <link rel="stylesheet" href="css/normalize.css"><!-- enlace al css para que se vea igual en todos los navegadores --> 
        <link rel="stylesheet" href="css/style.css"><!-- enlace al archivo css de nuestro proyecto --> 
        <title>Mercado Liebre</title> <!-- titulo que se muestra en la ventana del navegador -->
    </head>
    
    <body>
        <!-- poner nuestro h1 -->

        <header> <!--encabezado-->
            
            <div class="header-1">
                <img class="img-logo" src="img/logo-mercado-liebre.svg" alt="logo mercado liebre">
                <div class="input-box">
                    <input class='box' type="text" placeholder="Buscar lo que necesites"> 
                    <i class="search-icon fa-solid fa-magnifying-glass"></i>
                </div>
                <h2 class="copy-header"><i class="fa-solid fa-hand-holding-dollar"></i>   Comprá en cuotas y sin tarjeta de crédito</h2>
            </div>
            <nav class="nav-heder">
                <ul class="nav-list-1">                   
                    <li><a href="/home">Ofertas</a></li>
                    <li><a href="/home">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="nav-list-2">                 
                    <li><a href="/register">Creá tu cuenta <i class="fa-solid fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a> </li>
                    <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu">                
                <i class="icono-burger fas fa-bars"></i>
            </div> 
             
        </header> <!--fin encabezado-->

       <main> <!-- cuerpo-->
        
            <form action="homeregister" method="POST" id="register" name="register" class="create-form">
                
                <div class="control-form">
                    <input type="text" name="name" id="name" class="control" placeholder="Nombre y Apellido" maxlength="20" required>
                </div>

                <div class="control-form">
                    <input type="text" name="username" id="username" class="control" placeholder="Nombre de usuario" maxlength="20" required>
                </div>
                <div class="control-form">
                    <input 
                        type="email" 
                        name="user_id" 
                        value="" 
                        autocomplete="on" 
                        autocapitalize="none" 
                        spellcheck="false" 
                        autocorrect="off" 
                        suggestions="[object Object],[object Object],[object Object],[object Object]" 
                        autofocus="" 
                        rows="1" 
                        class="control" 
                        maxlength="120" 
                        id="user_id" 
                        aria-invalid="false" 
                        aria-describedby="user_id-message false"
                        placeholder="e-mail"
                        required>
                </div>

                <div class="control-form">
                    <label for="create_at"><h6>Fecha de nacimiento</h6></label>
                    <input type="date" name="create_at" id="create_at" class="control" required>
                </div>
            
                <div class="control-form">
                    <input type="text" name="address" id="address" class="control" placeholder="Domicilio" maxlength="50" required>
                </div>

               <div class="control-form control">
                   <label for=""><h6>Perfil del usuario</h6></label>
                   <div class="perfil-form">
                       <input type="radio" name="perfil" id="perfil" value="Comprador" checked>Comprador
                       <input type="radio" name="perfil" id="perfil" value="Vendedor">Vendedor
                    </div>
                </div>
                

                <div class="control-form flex-form">
                    <label for=""><h6>Intereses</h6></label>
                    <input type="checkbox" name="category" id="category" value="Electro">Electro
                    <input type="checkbox" name="category" id="category" value="Moda">Moda
                    <input type="checkbox" name="category" id="category" value="Hogar">Hogar
                    <input type="checkbox" name="category" id="category" value="Juguetería">Juguetería
                    <input type="checkbox" name="category" id="category" value="Vida sana">Vida sana
                </div>
               

                <div class="control-form">
                    <label for="imguser"><h6>Foto de perfil</h6></label>
                    <input type="file" name="imguser" id="imguser" class="control" accept="image/*">
                </div>

                <div class="control-form">
                    <input type="password" name="pass" id="pass" class="control" placeholder="Contraseña" required>
                </div>
                

                <div class="control-form">
                    <input type="password" name="passConf" id="passConf" class="control" placeholder="Confirme contraseña" required>
                </div>
                

                <div class="control-form">
                    <div class="submit">
                        <input type="submit" class="btn-form" value="Registrar">
                    </div>
                    <div class="reset">
                        <input type="reset" class="reset-btn-form" form="register">
                    </div>
                </div>

            </form>

            <section><!--botón de WhatsApp-->
                <div class="whatsapp-btn">
                    <a href="https://api.whatsapp.com/send/?phone=CalleFalsa123&text=Si estás leyendo esto, mi botón funciona. Haceme la gamba y aprobame porfa que me costo una banda. Gracias!"  target="_blank">
                        <img src="img/btn_whatsapp.png" alt="WhatsApp Logo">
                    </a>
                </div>
            </section>

        </main> <!--fin cuerpo-->
            
                
        <footer> <!--pie de pagina-->
            <nav class="nav-footer">
                <ul>
                    <div class="icon-div">
                        <i class="icon-footer first-icon-footer click fa-solid fa-credit-card fa-2xl"></i>
                        <li class="copy-footer">
                            <h4>Pagá con tarjeta o en efectivo</h4>
                            <p>
                                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                                puntos de pago. ¡Y siempre es seguro!
                            </p>
                        </li>
                    </div>
                    <div class="icon-div">
                        <i class="icon-footer fa-solid fa-gift fa-2xl"></i>
                        <li class="copy-footer">
                            <h4>Envío gratis desde $ 2.500</h4>
                            <p>
                                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
                            </p>
                        </li>
                    </div>
                    <div class="icon-div">
                        <i class="icon-footer fa-solid fa-user-shield fa-2xl"></i>
                        <li class="copy-footer">
                            <h4>Seguridad, de principio a fin</h4>
                            <p>
                                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                                porque estás siempre protegid@.
                            </p>
                        </li>
                    </div>
                    <li class="copyright">
                        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
                    </li>
                </ul>
            </nav>

     </footer> <!--fin pie de pagina-->
     
    </body>
</html>