/*colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
● Navegación en tablets (ancho mínimo 361 px)
● Navegación en desktop (ancho mínimo 769 px)
*/
/*tipografia Roboto de google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto:wght@100&display=swap');
/*<<<<<<< HEAD
/*media quiere de mobile first para que oculte site y el login navbar*/
nav{
    display: none;
}


/*alturas de textos*/
h2{
    font-size: 24;
}

h5{
    font-size: 16px;
}

h6{
    font-size: 18px;
}

p{
    font-size: 12px;
}


/*>>>>>>CONFIGURACION DEL HEADER<<<<<<*/

/*color de fonde header*/
header{
    background-color: #EAC926;
}
/*atributos*/
.background-blue{
    background-color: #03264C;
}

.color-white{
    color: #FFFFFF;
}

.border-radius-15{
    border-radius: 15%;
}

.padding-10{
    padding: 10px;
}

.burger-menu{
    text-align: center;
}

.description{
    display: none;
}

/*>>>>>>CONFIGURACION DEL MAIN<<<<<<*/
/*tamaño y margen del main*/
main{
    height: 90%;
    margin: auto;
}
/*configuracion de cada article*/
article{
    margin-bottom: 10px;
    padding: 15px;
}

/*logo de camion de envio */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.color-green {
    color: #39b54a;
}

.container-truck {
    display: flex;
    justify-content: flex-end;
}

.container-truck i {
    border-radius: 100%;
    padding: 10px;
    border: solid;
    border-width: thin;
}

/*atributos*/

.img {
    border-top: 1px solid #ebebeb;
}

div.img img {
    width: 100%;
}

.container-flex-box{
    display: flex;
}

.flex-grow-30{
    flex-grow: 30%;
}


.flex-grow-70{
    flex-grow: 70%;
    margin-left: 1%;
}
/*>>>>>>CONFIGURACION DEL FOOTER<<<<<<*/
/*alineacion del footer*/
.footer{
    text-align: center;
}

ul{
    list-style-type: none;
}

/*atributos*/
.color-light-blue{
    color: #1259c3;
}

/*>>>>>>MEDIA QUIERES<<<<<*/
/*tablet*/
@media (min-width: 361px) {
    .description{
        display: block;
    }
    article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .burger-menu{
        display: none;
    }
    nav {
        display: block;
    }

    section {
        flex-wrap: nowrap;
    }

    .flex-grow-1 {
        margin-right: 15px;
    }

    .flex-grow-2 {
        display: block;
    }
}

/*desktop*/

@media (min-width: 769px) {
    .flex-grow-2 {
        margin-right: 15px;
    }

    .flex-grow-3 {
        display: block;
        margin-right: 15px;
    }
    .flex-grow-4 {
        display: block;
    }
}
