/*tipografia Roboto de google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto:wght@100&display=swap');


/*>>>>>>CONFIGURACION DEL BODY<<<<<<*/

body {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    border: solid 5px rgb(209, 206, 206);
    background-color: #ebebeb;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*alturas de textos*/
h2 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6{
    font-size: 12px;
}

p {
    font-size: 16px;
}

/*i {
    font-size: 2em;
    margin-bottom: 10px;
}*/

/*>>>>>>CONFIGURACION DEL HEADER<<<<<<*/

/*header*/
header {
    background-color: #EAC926;
    padding-bottom: 10px;
}

.header-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

.img-logo {
    width: 50%;
}

.input-box {
    width: 50%;
    vertical-align: middle;
    text-align: center;
}

.search-icon {
    background-color: #ebebeb;
    padding: 2px;
    border: solid 1px;
    border-radius: 15%
}


.copy-header {
    margin: 10px 0px;
    text-align: center;
    font-size: 12px;
}

/*navbar*/
.nav-heder {
    display: none;
}

.nav-list-1 {
    margin: 10px  
}

.nav-list-2 {
    margin: 10px  
}

nav ul li {
    list-style: none;
}

/*nav ul{
    list-style: none;
    margin: 0;
    padding: 0;  
}*/

/*nav ul a{
    text-decoration: none;
    color: #222222;
    display: inline-block;
}*/

a:link, a:visited, a:hover, a:active {
    color: #000000;
    text-decoration: none;
}

.hand-holding {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*menu desplegable*/
.burger-menu {
    color: #ffffff;
    text-align: center;
    margin: auto;   
}

.icono-burger {
    background-color: #03264C;
    padding: 12px;
    border: 3px ;
    border-radius: 15%;
    font-size: 20px;
}

/*banner*/
.imagen-banner {
    width: 100%; 
}


/*>>>>>>CONFIGURACION DEL MAIN<<<<<<*/
/*tamaño y margen del main*/
main {
    width: 90%;
    margin: auto;
    z-index:1;
}

/*configuracion del section*/
section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 }

/*configuracion de cada article*/
article {
    margin-bottom: 10px;
    padding: 15px;
}

/*configuracion de las imagenes de venta*/
.img {
    border-top: 1px solid #ebebeb;
}

div.img img {
    width: 100%;
}

.flex-grow-30 {
    flex-grow: 0.3;
}

.flex-grow-70 {
    flex-grow: 0.7;
}
/*logo de camion de envio */

.container-truck {
    display: flex;
    justify-content: flex-end;
}

/*atributos main*/
.section-name-1 {
    padding: 20px 0px 10px;
    margin-left: 10px;
}

.container-flex-box {
    display: flex;
}

.flex-grow-1 {
    flex-grow: 1%;
}

.flex-grow-2 {
    display: none;
}

.flex-grow-3 {
    display: none;
}

.flex-grow-4 {
    display: none;
}

.color-green {
    color: #39b54a;
}


.container-truck i {
    border-radius: 100%;
    padding: 10px;
    border: solid;
    border-width: thin;
}

/*>>>>>>animaciones main<<<<<<*/
/*descripcion*/
.description {
    visibility: hidden;
    transition: transform 5s;
}


article:hover .description {
    visibility: visible;
}

/*camion*/
i.rotate {
    transition: transform 5s;
}
  
article:hover i.rotate {
    transform: rotate(360deg);
}
  
/*descuento*/
.deal-effect {
    transition: width 2s, height 2s, transform 2s;
}
  
article:hover .deal-effect {
    transform: rotate(360deg);
}

/*film
.producto-venta {
    position: relative;
    background-color: #ffffff;
    width: 90%;    
    margin: 5px auto 5px;
    padding-top: 10px;
    border-right: solid thin  #ebebeb;
}

.producto-venta:hover > .descripcion {
    opacity: 1;
}
*/
/*>>>>>>boton de whatsApp<<<<<*/
.whatsapp-btn {
    display:none;
    width:70px;
    height:70px;
    color:#fff;
    position: fixed;
    right:20px;
    bottom:20px;
    border-radius:50%;
    line-height:80px;
    text-align:center;
    z-index:2;
}

/*>>>>>>CONFIGURACION DEL FOOTER<<<<<<*/
/*alineacion del footer*/
.icon-footer {
     margin-bottom: 10px;
     text-align: center;
     color:#2e6eb3;
}

.first-icon-footer {
    margin-top: 40px;
}

.copy-footer {
    margin: auto;
    width: 70%;
    text-align: center;
    margin-bottom: 60px;
    opacity: 0.7 ;
}

.copyright {
    margin: auto;   
    text-align: center;
    margin-bottom: 60px;
    opacity: 0.7;
}
/*>>>>>>animaciones footer<<<<<<*/
.icon-div {
    text-align: center;
    margin: auto;
}

.icon-div:hover i {
    color: #39b54a;
}

/*>>>>>>CONFIGURACION DE FORMULARIOS<<<<<<*/
.create-form {
    padding: 20px 15px;
}

.control-form {
    margin-bottom: 15px;
}

.control-form label {
    margin-bottom: 5px;
    font-style: italic;
    display: block;
}

.control {
    width: 100%;
    padding: 8px;
}


.btn-form {
    background-color: #225c9b;
    padding: 12px;
    border: 3px ;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    margin: 5px; 
    color: white;
    width: 100%;
}

.reset-btn-form {
    background-color: #39b54a;
    padding: 12px;
    border: 3px ;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    margin: 5px; 
    color: white;
    width: 100%;
}
.perfil-form{
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

/*>>>>>>MEDIA QUIERES<<<<<*/
/*tablet*/
@media (min-width: 361px) {
    header {
        padding-bottom: 0px;
    }
    .header-1 {
        max-width: 1200px;
        margin: auto;
    }
    .img-logo {
        width: 33%;
    }
    .input-box {
        width: 33%;
        vertical-align: middle;
        text-align: center;
    }
    .box {
        width: 75%;
    }
    .copy-header {
        width: 33%;
        margin: 10px 0px;
        text-align: center;
        font-size: 10px;
    }
    .nav-heder {
        display: flex;
        justify-content: space-around;
        max-width: 1200px;
        font-size: 2vw;
    }
    .nav-list-1 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }
    .nav-list-1 li {
        margin: 1vw; 
    }
    .nav-list-2 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
    }
    .nav-list-2 li {
        margin: 1vw;
    }
    .burger-menu {
        display: none;
    }  
    .whatsapp-btn {
        display:block;
    }
    .description {
        display: block;
    }
    article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    section {
        flex-wrap: nowrap;
    }

    .flex-grow-1 {
        margin-right: 15px;
    }

    .flex-grow-2 {
        display: block;
    }
}

/*desktop*/
@media (min-width: 769px) {
    .header-1{
        max-width: 1200px;
    }
    .copy-header {
        font-size: 12px;
    }
    .nav-heder {
        font-size: 16px;
    }

    .flex-grow-2 {
        margin-right: 15px;
    }

    .flex-grow-3 {
        display: block;
        margin-right: 15px;
    }
    .flex-grow-4 {
        display: block;
    }
    .flex-column{
        flex-direction: row;
    }
    /*footer {
        flex-wrap: nowrap;
    }*/
    .nav-footer ul{
        display: flex;
        flex-wrap: wrap;

    }
    
    .icon-div li{
        margin-top: 15px;
        width: 30vw;
        }
        .icon-footer {
       margin: 40px 0px 10px;
    }
    .control{
        max-width: 500px ;
    }
    .btn-form {
        max-width: 500px ;
    }
    .reset-btn-form {
        max-width: 500px ;
    }
}