

/*se importa la tipografía Roboto de google fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto:wght@100&display=swap');

/*estructura del cuerpo*/
body{
    font-family: 'Raleway', sans-serif ;
    height: 100%;
}
main{
    width: 90%;
    margin: auto;
}

/*altura de tipografias*/
p{
    font-size: 12px;
}

h2{
    font-size: 24px;
}

h6{
    font-size: 18px;
}

h5{
    font-size: 16px;
}

/*visualizacion del header*/
/*Color de fondo*/
header{
    background-color: #EAC926
}

/*visualalizacion del boton menu*/
/*tamaño*/
i{
    font: size 2em;
    margin-bottom: 10px;
}
/*alineacion central*/
.burger-menu{
    text-align: center;
}
/*fondo azul*/
.background-blue{
    background-color:#03264C
}
/*contenido blanco*/
.color-white{
    color:white ;
}
/*puntas redondeadas*/
.border-radius-15{
    border-radius: 15%;
}
/*separacion entre borde y contenido*/
.padding-10{
    padding: 10xp;
}

